.available-modalities {
    @extend .container;

    background-color: #d8d8d8;
    padding-top: 4em;
    padding-bottom: 3em;

    > .heading {
        color: #444;
        font-size: 1.7em;
        text-align: center;
        margin-top: 0;
        margin-bottom: 1.2em;
    }

    > .label {
        margin-right: 1.5em;
    }

    @media (min-width: 1024px) {
        font-size: 1.2em;
    }

    @media (max-width: 600px) {
        > .label {
            font-size: 1.25em;
            font-weight: 300;
            display: block;

            & + .label {
                margin-top: 1em;
            }
        }
    }
}
