.faq-list {
    @extend .container;

    background-color: #f1f1f1;
    padding-top: 4em;
    padding-bottom: 4em;

    > .heading {
        color: #444;
        font-size: 1.7em;
        text-align: center;
        margin-top: 0;
        margin-bottom: 1.5em;
    }

    > .list {
        @media (min-width: 768px) {
            column-count: 2;
            list-style-type: none;
        }
    }

    > .list > .item {
        margin-bottom: 1.5em;
        display: inline-block;
        padding-right: 1em;
        padding-left: 1em;

        @media (max-width: 768px) {
            text-align: center;
            display: block;
        }

        @media (min-width: 1281px) {
            padding-right: 4em;
            padding-left: 4em;
        }
    }

    > .list > .item > .title {
        margin-top: 0;
        margin-bottom: .5em;
        display: inline-block;

        @media (max-width: 768px) {
            text-decoration: underline;
            display: block;
        }
    }

    > .list > .item > .paragraph {
        font-size: .8em;
        font-weight: 300;
        line-height: 1.4;
        position: relative;
        top: -100px;
        height: 0;
        margin: 0;
        opacity: 0;
        overflow: hidden;
        z-index: -1;
        transition: all .3s ease;

        & + .paragraph {
            margin-top: 1em;
        }

        @media (min-width: 768px) {
            position: static;
            height: initial;
            opacity: 1;
        }
    }

    > .list > .item > .paragraph.-visible {
        height: auto;
        top: 0;
        opacity: 1;
        z-index: 1;
    }

    > .list > .item > .paragraph > .link {
        text-decoration: none;
        color: #ff2941;
    }

    > .link {
        color: #666;
        font-weight: 400;
        font-size: .9em;
        text-decoration: none;
        display: table;
        margin-top: 3em;
        margin-right: auto;
        margin-left: auto;
        padding: .65em 2.75em;
        border: 1px solid currentColor;

        @media (min-width: 600px) {
            font-size: 1em;
        }
    }

    @media (min-width: 1024px) {
        font-size: 1.2em;
    }
}
