.header-nav {
    > .list {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        list-style-type: none;
        box-sizing: border-box;

        @media (max-width: 680px) {
            position: fixed;
            top: 0;
            bottom: 0;
            left: -100%;
            padding: 3em;
            width: 500px;
            max-width: 75%;
            z-index: 1;
            transition: left .3s ease-out;
        }

        @media (min-width: 680px) {
            flex-direction: row;
            justify-content: space-around;
        }

        @media (min-width: 1024px) {
            width: 100%;
            padding-left: 2em;
            justify-content: space-between;
        }
    }

    > .list.-floating {
        left: 0;
    }

    > .list > .item > .link {
        color: #ff2941;
        font-weight: 600;
        font-size: 1.1em;
        text-decoration: none;
        display: inline-block;
        padding: .5em 0;
    }

    @media (max-width: 680px) {
        > .list > .item.-login {
            order: -2;
        }

        > .list > .item.-register {
            order: -1;
        }
    }

    @media (min-width: 1024px) {
        display: flex;
        flex-grow: 1;
    }

    @media (min-width: 1280px) {
        > .list > .item + .item {
            margin-left: 1.2em;
        }

        > .list > .item.-register {
            margin-left: auto;
        }
    }
}
