.toggle-button {
    position: fixed;
    top: 22px;
    right: 30px;
    border: none;
    background: #fff linear-gradient(to right, #ff2941, #ff2941) center center / 70% 1px no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-indent: -9999px;
    overflow: hidden;
    box-shadow: 3px 2px 4px rgba(0,0,0,0.3);
    transition: background-position 0.2s ease;
    z-index: 1;

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 70%;
        height: 1px;
        background-color: #ff2941;
        transition: transform 0.3s ease;
        left: 50%;
        transform: translateX(-50%);
    }

    &::before {
        top: 15px;
    }

    &::after {
        bottom: 15px;
    }

    &.-active {
        background-position: 100px;

        &::before {
            transform: translate(-50%, 10px) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -10px) rotate(-45deg);
        }
    }

    @media (min-width: 680px) {
        display: none;
    }
}
