.modality-list {
    margin-top: 3em;
    display: flex;
    list-style-type: none;

    > .item {
        text-align: center;
        background-color: #fff;
        padding: 2.5em 1.5em;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .3);

        @media (min-width: 1024px) {
            max-width: 25%;
        }
    }

    > .item > .title {
        font-size: 1.4em;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 1em;
    }

    > .item > .paragraph {
        font-size: .9em;
        font-weight: 400;
        line-height: 1.5em;
        margin-top: 0;
        margin-bottom: 0;
    }
}
