.newsletter-form {
    display: flex;
    justify-content: center;

    > .email {
        font-size: 1.2em;
        background-color: #fff;
        border: none;
        padding: .75em 1em;
        flex-grow: 1;
        min-width: 0;
    }

    > .submit {
        font-family: Roboto, sans-serif;
        font-weight: 700;
        background-color: #cdcdcd;
        border: none;
        padding-left: 1em;
        padding-right: 1em;
        cursor: pointer;
    }

    @media (min-width: 1000px) {
        display: inline-flex;
        vertical-align: middle;
    }

    @media (min-width: 1281px) {
        min-width: 575px;
    }
}
