.page-header {
    @extend .container;

    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;

    > .logo {
        display: inline-block;

        @media (min-width: 680px) and (max-width: 1279px) {
            margin-bottom: 1em;
        }

        @media (max-width: 1280px) {
            display: table;
            margin-right: auto;
            margin-left: auto;
        }
    }

    @media (min-width: 1280px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
