.page-footer {
    @extend .container;

    background-color: #3c3c3c;
    padding-top: 2em;
    padding-bottom: 2em;

    > .form {
        text-align: center;
    }

    > .form > .label {
        color: #fff;
        font-weight: 500;
        text-align: center;
        display: block;
        margin-bottom: 1.2em;

        @media (min-width: 1000px) {
            display: inline-block;
            vertical-align: middle;
            margin-right: 1.5em;
            margin-bottom: 0;
        }

        @media (min-width: 1281px) {
            font-size: 1.25em;
        }
    }
}
