.plan-banner {
    @extend .container;

    position: relative;
    background-color: #000;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;

    > .heading {
        color: #fff;
        font-size: 1.5em;
        margin-top: 0;
        margin-bottom: 1em;
        position: relative;
    }

    > .list {
        padding-left: 1em;
        max-width: 600px;
    }

    > .list > .item {
        color: #fff;
        font-weight: 300;
        font-size: .9em;

        @media (min-width: 768px) and (max-width: 1280px) {
            text-shadow: -2px 1px 1px #000;
        }
    }

    > .list > .item + .item {
        margin-top: .75em;
    }

    @media (min-width: 768px) {
        font-size: 1.6em;
        background-image: url('../images/banner.png');
        background-position: right center;
        background-repeat: no-repeat;
        text-align: left;
        padding-top: 4em;
        padding-bottom: 6em;
    }

    @media (min-width: 1366px) {
        padding-left: 5em;
    }
}
