.plan-details {
    @extend .container;

    padding-top: 4em;
    padding-bottom: 4em;

    > .heading,
    > .paragraph {
        text-align: center;
    }

    > .heading {
        color: #444;
        font-size: 1.7em;
        margin-top: 0;
        margin-bottom: 1.2em;
    }

    > .paragraph {
        font-size: 1em;
        line-height: 1.5em;
        margin: 0;

        @media (min-width: 1281px) {
            max-width: 47%;
            margin-right: auto;
            margin-left: auto;

            & + .paragraph {
                margin-top: 1.5em;
            }
        }
    }

    > .list {
        margin-top: 3em;
        list-style-type: none;

        @media (max-width: 768px) {
            & > .item + .item {
                margin-top: 1.5em;
            }
        }

        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            & > .item {
                flex-basis: 33.3%;
                padding-right: 1em;
                padding-left: 1em;
            }
        }

        @media (min-width: 1281px) {
            & > .item {
                padding-right: 3em;
                padding-left: 3em;
            }
        }
    }

    > .list > .item {
        text-align: center;

        &::before {
            content: '';
            display: block;
            margin-right: auto;
            margin-bottom: 1em;
            margin-left: auto;
        }

        &.-map::before {
            @include sprite($map);
        }

        &.-modalities::before {
            @include sprite($modality);
        }

        &.-payment::before {
            @include sprite($payment);
        }
    }

    > .list > .item > .heading {
        margin-top: 0;
        margin-bottom: .75em;
    }

    > .list > .item > .paragraph {
        font-size: .9em;
        font-weight: 300;
        line-height: 1.3em;
    }

    @media (min-width: 1024px) {
        font-size: 1.2em;
    }
}
