html {
    font-family: Roboto, sans-serif;
}

body {
    background-color: #fff;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.noscroll {
    overflow: hidden;

    &::after {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .4);
    }
}

.container {
    padding-right: 30px;
    padding-left: 30px;

    @media (min-width: 480px) {
        padding-right: 45px;
        padding-left: 45px;
    }

    @media (min-width: 640px) {
        padding-right: 60px;
        padding-left: 60px;
    }

    @media (min-width: 768px) {
        padding-right: 75px;
        padding-left: 75px;
    }

    @media (min-width: 1024px) {
        padding-right: 90px;
        padding-left: 90px;
    }

    @media (min-width: 1281px) {
        padding-right: 50px;
        padding-left: 50px;
    }
}
