[data-tns-role=nav] {
    text-align: center;
    margin-top: 3em;
}

[data-tns-role=nav] button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    margin-right: 10px;
    margin-left: 10px;

    &[aria-selected=true] {
        background-color: #000;
    }
}
